{% extends '_main.html' %}
{% load static %}
{% block content %}
    <h1>Descontos</h1>
    {% for desconto in Descontos %}
        <div class="card">
            <a href="{% url 'Descontos_single' desconto.slug %}">
                <img src="{{ desconto.des_image.url }}" alt="{{ desconto.name }}">
            </a>
            <div class="card-body">
                <h2 class="card-title">
                    <a href="{% url 'Descontos_single' desconto.slug %}">{{ desconto.name }}</a>
                </h2>
                <p class="card-text">Desconto no jogo: {{ desconto.game }}</p>
                <p class="card-text">Desconto de: {{ desconto.percent }}%!</p>
                <p class="card-text">Prazo: {{ desconto.prazo }}</p>
                <p class="card-text">Categoria: {{ desconto.desc_cat }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}
