{% extends '_main.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <div class="section-title">
        <h2>Tipos de Correia</h2>
        <hr>
    </div>
    <div id="carouselExampleCorreias" class="carousel slide">
        <div class="carousel-inner">
            {% for correia in tipos_correia %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ correia.imagem.url }}" class="d-block w-100" alt="{{ correia.nome }}">
                <div class="carousel-caption d-none d-md-block">
                    <div class="carousel-caption-text">
                        <h5>{{ correia.nome }}</h5>
                        <p>{{ correia.descricao }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCorreias" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCorreias" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="section-title">
        <h2>Fórmulas</h2>
        <hr>
    </div>
    <div id="carouselExampleFormulas" class="carousel slide">
        <div class="carousel-inner">
            {% for formula in formulas %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{ formula.imagem.url }}" class="d-block w-100" alt="{{ formula.nome }}">
                <div class="carousel-caption d-none d-md-block">
                    <div class="carousel-caption-text">
                        <h5>{{ formula.nome }}</h5>
                        <p>{{ formula.descricao }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFormulas" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFormulas" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}
