{% extends '_main.html' %}
{% block content %}
<style>
    .formula {
        font-size: 3rem;
        color: #2bff00;
        margin-bottom: 20px;
        margin-top: 20px;
        transition: text-shadow 0.3s ease;
    }

    .formula:hover {
        text-shadow: 0 0 10px rgba(21, 190, 49, 0.7);
        transition: transform 0.3s ease;
        transform: scale(1.1);
    }
</style>

<div style="margin-top: 100px;"class="section-title">
    <h2 class="formula">Fórmulas</h2>
    <hr>
</div>

<div class="row">
    {% for formula in formulas %}
    <div class="col-md-4">
        <a href="{% url 'detalhe_formula' formula.id %}" class="image-button">
            <img src="{{ formula.imagem.url }}" alt="{{ formula.nome }}" class="img-fluid">
            <div class="overlay">
                <div class="text">{{ formula.nome }}</div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
