{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap5/css/bootstrap.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
    {% include 'menu.html' %}
    <h2>
        Python - Produtos
    </h2>

    <hr>

    {% for p in product %}
    <p>
        <a href="{% url 'produto_single' p.id %}">{{ p }}</a>
    </p>
    {% endfor %}
</body>

<script type="text/javascript" src="{% static 'js/scripts.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap5/js/bootstrap.min.js' %}"></script>

</html>



